<div class="main_page">
  <div class="main_signup_page">
  <h2>Sign up</h2>
    <div class="signup">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="username">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username" %>
    </div>
    <div class="email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>
    <div class="password">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>
    <div class="newpassword">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password" %>
    </div>
    <div class="avatar_image">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %><br>
    </div>
    <div class="login_link_signup_button">
      <div class="log">
        <%= render "devise/shared/links" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up（ユーザー新規登録）" %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
