<div class="main_search_page">
  <div class="main_in_search_page">
    <h3>ALL recipes</h3>
    <div class="container">
      <% @results.each do |recipe| %>
        <%= link_to(recipe_path(recipe), class:"userList text-dark") do %>
          <div class="card card-skin">
            <div class="card__imgframe">
              <% if recipe.images.blank? %>
                <%= image_tag "/images/black-bean-close-up-cooked-16407741.png", size: '303x178' %>
              <% else %>
                <%= image_tag recipe.images[0], size: '303x178' %>
              <% end %>
            </div>
            <div class="card__textbox">
              <div class="card__titletext">
                <% if recipe.title.blank? %>
                  タイトルなし
                <% else %>
                  <%= recipe.title %>
                <% end %>
              </div>
              <div class="card__overviewtext">
                <div class="recipe_username">Username:　<%= recipe.user.username %></div>
                <div class="recipe_edit_delete_link">
                  <%= link_to 'Edit', edit_recipe_path(recipe), class:"userList text-dark recipe_edit" %>
                  <%= link_to 'Delete', recipe_path(recipe), method: :delete, class:"userList text-dark recipe_delete" %>
                </div>
              </div>
              <% if user_signed_in? %>
                <% if recipe.favorited_by?(current_user) %>
                  <p><span>お気に入り解除: </span><%=link_to recipe.favorites.count, recipe_favorites_path(recipe.id), method: :delete %></p>
                <% else %>
                  <p><span>お気に入り登録: </span><%=link_to recipe.favorites.count, recipe_favorites_path(recipe.id), method: :post %></p>
                <% end %>
              <% else %>
                <p><span>お気に入り数: </span><%= recipe.favorites.count %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <h3>My recipe</h3>
    <div class="container">
      <% @my_results.each do |recipe| %>
        <%= link_to(recipe_path(recipe), class:"userList text-dark") do %>
          <div class="card card-skin">
            <div class="card__imgframe">
              <% if recipe.images.blank? %>
                <%= image_tag "/images/black-bean-close-up-cooked-16407741.png", size: '303x178' %>
              <% else %>
                <%= image_tag recipe.images[0], size: '303x178' %>
              <% end %>
            </div>
            <div class="card__textbox">
              <div class="card__titletext">
                <% if recipe.title.blank? %>
                  タイトルなし
                <% else %>
                  <%= recipe.title %>
                <% end %>
              </div>
              <div class="card__overviewtext">
                <div class="recipe_username">Username:　<%= recipe.user.username %></div>
                <div class="recipe_edit_delete_link">
                  <%= link_to 'Edit', edit_recipe_path(recipe), class:"userList text-dark recipe_edit" %>
                  <%= link_to 'Delete', recipe_path(recipe), method: :delete, class:"userList text-dark recipe_delete" %>
                </div>
              </div>
              <% if user_signed_in? %>
                <% if recipe.favorited_by?(current_user) %>
                  <p><span>お気に入り解除: </span><%=link_to recipe.favorites.count, recipe_favorites_path(recipe.id), method: :delete %></p>
                <% else %>
                  <p><span>お気に入り登録: </span><%=link_to recipe.favorites.count, recipe_favorites_path(recipe.id), method: :post %></p>
                <% end %>
              <% else %>
                <p><span>お気に入り数: </span><%= recipe.favorites.count %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <div class="search_top_link"><%= link_to "トップページへ戻る", recipes_path %></div>
  </div>
</div>
