<div class="main_page">
  <div class="main_in_page">
    <h3>My recipe</h3>
    <div class="container">
      <% @results.each do |recipe| %>
        <%= link_to(recipe_path(recipe), class:"userList") do %>
          <div class="card card-skin">
            <div class="card__imgframe">
              <% if recipe.images.blank? %>
                <%= image_tag "/images/black-bean-close-up-cooked-16407741.png", size: '303x178' %>
              <% else %>
                <%= image_tag recipe.images[0], size: '303x178' %>
              <% end %>
            </div>
            <div class="card__textbox">
              <div class="card__titletext">
                <%= recipe.title %>
              </div>
              <div class="card__overviewtext">
                <%= link_to 'Edit', edit_recipe_path(recipe), class:"userList" %>
                <%= link_to 'Delete', recipe_path(recipe), method: :delete, class:"userList" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <div><%= link_to "トップページへ戻る", recipes_path %></div>
  </div>
</div>
