<div class="main_page">
  <div class="main_in_page">
    <%= notice %>
    <h3>ALL recipes</h3>
    <div class="container main_page_my_recipe_container">
      <div class="row my_recipe_row">
        <% @results.each do |recipe| %>
          <%= link_to(recipe_path(recipe), class:"userList text-dark", id: "all_recipes") do %>
            <div class="card_contents col-xs-12 col-md-4">
              <div class="card card-skin">
                <div class="card__imgframe">
                  <% if recipe.images.blank? %>
                    <%= image_tag "/images/black-bean-close-up-cooked-16407741.png", size: '303x178' %>
                  <% else %>
                    <%= image_tag recipe.images[2], size: '303x178' %>
                  <% end %>
                </div>
                <div class="card__textbox">
                  <div class="card__titletext">
                    <% if recipe.title.blank? %>
                      タイトルなし
                    <% else %>
                      <%= recipe.title %>
                    <% end %>
                  </div>
                  <div class="card__overviewtext">
                    <div class="recipe_username">Username:<%= recipe.user.username %></div>
                    <div class="recipe_edit_delete_link">
                      <%= link_to 'Edit', edit_recipe_path(recipe), class:"userList text-dark recipe_edit" %>
                      <%= link_to 'Delete', recipe_path(recipe), method: :delete, class:"userList text-dark recipe_delete" %>
                    </div>
                  </div>
                  <% if user_signed_in? %>
                    <% if recipe.favorited_by?(current_user) %>
                      <p>
                        <span>お気に入り解除: </span>
                        <%=link_to recipe_favorites_path(recipe.id), method: :delete do %>
                          <i class="fa fa-heart unlike-btn"></i>
                        <% end %>
                        <span>お気に入り数: </span>
                        <%= recipe.favorites.count %>
                      </p>
                    <% else %>
                      <p>
                        <span>お気に入り登録: </span>
                        <%=link_to recipe_favorites_path(recipe.id), method: :post do %>
                          <i class="fa fa-heart like-btn"></i>
                        <% end %>
                        <span>お気に入り数: </span>
                        <%= recipe.favorites.count %>
                      </p>
                    <% end %>
                  <% else %>
                    <p><span>お気に入り数: </span><%= recipe.favorites.count %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
    <h3>My recipe</h3>
    <div class="favorite_block">
      <% @my_results.each do |recipe| %>
        <%= link_to(recipe_path(recipe), class:"userList text-dark", id:"my_recipes") do %>
          <div class="card card-skin">
            <div class="card__imgframe">
              <% if recipe.images.blank? %>
                <%= image_tag "/images/black-bean-close-up-cooked-16407741.png", size: '303x178' %>
              <% else %>
                <%= image_tag recipe.images[2], size: '303x178' %>
              <% end %>
            </div>
            <div class="card__textbox">
              <div class="card__titletext">
                <% if recipe.title.blank? %>
                  タイトルなし
                <% else %>
                  <%= recipe.title %>
                <% end %>
              </div>
              <div class="card__overviewtext">
                <div class="recipe_username">Username:<%= recipe.user.username %></div>
                <div class="recipe_edit_delete_link">
                  <%= link_to 'Edit', edit_recipe_path(recipe), class:"userList text-dark recipe_edit" %>
                  <%= link_to 'Delete', recipe_path(recipe), method: :delete, class:"userList text-dark recipe_delete" %>
                </div>
              </div>
              <% if user_signed_in? %>
                <% if recipe.favorited_by?(current_user) %>
                  <p>
                    <span>お気に入り解除: </span>
                    <%=link_to recipe_favorites_path(recipe.id), method: :delete do %>
                      <i class="fa fa-heart unlike-btn"></i>
                    <% end %>
                    <span>お気に入り数: </span>
                    <%= recipe.favorites.count %>
                  </p>
                <% else %>
                  <p>
                    <span>お気に入り登録: </span>
                    <%=link_to recipe_favorites_path(recipe.id), method: :post do %>
                      <i class="fa fa-heart like-btn"></i>
                    <% end %>
                    <span>お気に入り数: </span>
                    <%= recipe.favorites.count %>
                  </p>
                <% end %>
              <% else %>
                <p><span>お気に入り数: </span><%= recipe.favorites.count %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <div class="search_top_link col-12">
      <%= link_to "トップページへ戻る", recipes_path %>
    </div>
  </div>
</div>
