<div class="main_background image">
  <div class="main_title">
    <%= link_to '3 step recipes', recipes_path, class:"title_css" %>
  </div>
  <div class="sub_title">
    <p>３ステップで作れる料理をシェアできるレシピ投稿サービス</p>
    <p>（タイトルをクリックしてね！）</p>
    <p>（ページ下に各ページの操作説明などがあるので、参考にしてみてください。）</p>
  </div>
</div>
<div class="main_background sub_image">
  <div class="main_explain">
    <p>このアプリは、『３ステップで作れる料理をシェアできるレシピ投稿サービス』です。</p>
    <p>日々の生活の中で、自炊したいけど、時間がないという人にオススメです。</p>
    <p>このアプリ内で、紹介されているレシピを参考に料理をすることができます。</p>
    <p>また、自分で他の人に紹介したいレシピを投稿し、シェアすることもできます。</p>
    <p>ぜひ、このサービスを使用し、日々の料理をより美味しく、より楽しく作りましょう！！</p>
  </div>
</div>
<div class="main_background sub_image">
  <div class="row main_explain_flex">
    <div class="col-12 col-md-6 instagram_explain_img_frame">
      <div class="instagram_explain_img">
        <%= image_tag "/images/20220416_ポートフォリオ、メインページ①.png", size: '700x400' %>
        <%= image_tag "/images/20220416_ポートフォリオ、メインページ②.png", size: '700x400' %>
        <%= image_tag "/images/20220416_ポートフォリオ、メインページ③.png", size: '700x400' %>
      </div>
    </div>
    <div class="col-12 col-md-6 instagram_explain_text_frame">
      <p>メインページでは、すべての投稿されたレシピ、ユーザー自身が作成したレシピ、お気に入り数の多いレシピなどを参照することができます。</p>
      <p>また、このページからキーワード検索し、検索したいレシピを見つけることもできます。</p>
      <p>さらに、各レシピカードのハートマークボタンは、お気に入り機能を表します。</p>
      <p>このボタンを押すことで、プロフィールページにお気に入り登録したレシピとして表示することもできます。</p>
      <p>ユーザーからのお気に入りが多いほど、メインページ下のお気に入りレシピランキングの上位に入ることができるので、ランキング上位を目指してみましょう！</p>
    </div>
  </div>
</div>
<div class="main_background sub_image">
  <div class="row main_explain_flex">
    <div class="col-12 col-md-6 instagram_explain_img_frame">
      <div class="instagram_explain_img">
        <%= image_tag "/images/20220414_ポートフォリオ、レシピ投稿.png", size: '700x400' %>
      </div>
    </div>
    <div class="col-12 col-md-6 instagram_explain_text_frame">
      <p>レシピ投稿ページでは、レシピ名、レシピ手順を3つ、レシピ画像を登録し、投稿したいレシピを作成し、投稿する事ができます。</p>
      <p>入力後は、『Create Recipe』をクリックすることで、メインページへ戻り、作成したレシピが表示されていれば、投稿完了です。</p>
    </div>
  </div>
</div>
<div class="main_background sub_image">
  <div class="row main_explain_flex">
    <div class="col-12 col-md-6 instagram_explain_img_frame">
      <div class="instagram_explain_img">
        <%= image_tag "/images/20220416_ポートフォリオ、レシピ詳細ページ①.png", size: '700x400' %>
        <%= image_tag "/images/20220416_ポートフォリオ、レシピ詳細ページ②.png", size: '700x400' %>
      </div>
    </div>
    <div class="col-12 col-md-6 instagram_explain_text_frame">
      <p>レシピ詳細ページでは、ユーザーが投稿したレシピを参照する事ができます。</p>
      <p>また、このページからコメントを残すことができるので、調理した感想やおすすめのアレンジをその他のユーザーに紹介してみましょう！</p>
    </div>
  </div>
</div>
<div class="main_background sub_image">
  <div class="row main_explain_flex">
    <div class="col-12 col-md-6 instagram_explain_img_frame">
      <div class="instagram_explain_img">
        <%= image_tag "/images/20220416_ポートフォリオマイページ①.png", size: '700x400' %>
        <%= image_tag "/images/20220416_ポートフォリオマイページ②.png", size: '700x400' %>
      </div>
    </div>
    <div class="col-12 col-md-6 instagram_explain_text_frame">
      <p>プロフィールページでは、ユーザー画像、ユーザー名、Eメールアドレス、レシピ投稿数、お気に入りしたレシピ数、ユーザー自身がお気に入りしたレシピを参照する事ができます。</p>
      <p>また、ユーザー画像もこのページから変更する事ができます。</p>
    </div>
  </div>
</div>
<div class="main_background sub_image">
  <div class="row main_explain_flex">
    <div class="col-12 col-md-6 instagram_explain_img_frame">
      <div class="instagram_explain_img">
        <%= image_tag "/images/20220503_Instagramページ①.png", size: '600x400' %>
        <%= image_tag "/images/20220503_Instagramページ②.png", size: '600x400' %>
      </div>
    </div>
    <div class="col-12 col-md-6 instagram_explain_text_frame">
      <p>Instagramページでは、Instagramを使用し、Instagramアプリ内で作成したレシピを投稿・閲覧・編集・削除することができます。</p>
      <p>また、Instagramユーザーが投稿した画像も閲覧することができます。</p>
      <p>Instagramを使用したいときは、右上のハンバーガーメニュー（三本線）の中の『Instagram』をクリックするか、メインページのInstagramの画像をクリックしてみましょう!</p>
      <p>Instagramにも作成したレシピを投稿することで、より多くの人とシェアできるようにしてみましょう!</p>
    </div>
  </div>
</div>
