<span class="nav_toggle">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="nav">
  <ul class="nav_menu_ul">
    <li class="nav_menu_li"><%= link_to 'サインアップ', new_user_registration_path, class:"userList text-dark" %></li>
    <li class="nav_menu_li"><%= link_to 'ログイン', new_user_session_path, class:"userList text-dark" %></li>
    <li class="nav_menu_li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"userList text-dark" %></li>
    <li class="nav_menu_li"><%= link_to 'メインページ', recipes_path, class:"userList text-dark" %></li>
    <li class="nav_menu_li"><%= link_to 'レシピ投稿ページ', new_recipe_path, class:"userList text-dark" %></li>
    <li class="nav_menu_li">
      <% if user_signed_in? %>
        <%= link_to 'マイページ', user_path(current_user.id), class:"userList text-dark" %>
      <% end %>
    </li>
    <li class="nav_menu_li">
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"userList text-dark" %>
    </li>
    <li class="nav_menu_li">
      <% if user_signed_in? %>
        <% if current_user == @user || current_user.admin? %>
          <%= link_to '管理者専用ページ', rails_admin_path, class:"userList text-dark" %>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>
<script type="text/javascript">
$('.nav_toggle').on('click', function () {
  $('.nav_toggle, .nav').toggleClass('show');
});
</script>
