<!DOCTYPE html>
<html>
  <head>
    <title>3 step recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>3 step recipes</h1>
      <div class="login">
        <%= render "shared/login" %>
      </div>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
