<!DOCTYPE html>
<html>
  <head>
    <title>3 step recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <h1><%= link_to "3 step recipes", recipes_path, class:"userList text-white" %></h1>
      <div class="login">
        <%= render "shared/login" %>
      </div>
    </header>
    <%= yield %>
    <a href="#" class="back-to-top">▲</a>
    <%= javascript_pack_tag 'recipe/index' %>
    <footer></footer>
  </body>
</html>
